#navbar
{
	background-color: black;
	position: fixed;
	top: 3px;
	margin: 0px;
	width: 98.5%;
}
#navbar li
{
	display: inline;
	margin: 1.5rem;
	padding: 1rem;
}
#navbar li a
{
	color: red;
	text-decoration: none;
	font-family: times new roman;
	font-size: 1.2rem;
	font-style: italic;
}
#navbar li a:hover
{
	color: white;
	font-size: 25px;
	cursor: pointer;
}
#back_img
{
	width: 100%;
	display: inline-flex;
	margin: 1rem;
}
#pic_text
{
	position: absolute;
	top: 6rem;
	left: 2rem;
	padding: 1vw;
  	color: white;
  	font-size: 2.5rem;
  	font-style: italic;
  	font-weight: 500;
  	display: inline-flex; 	
}
#pic
{
	margin:1rem;
	border: 2px solid red;
	padding:3px;
	background-color: transparent;
	border-radius: 50%;
	animation-name: show;
	animation-duration: 8s;
	animation-iteration-count: 1;
}
#spanid
{
	font-size: 2.7rem;
	font-family: lucida calligraphy;
	text-decoration: underline;
}
#schooling
{
	box-sizing: border-box;
	border: 3px solid black;
	margin: 2rem;padding: 1.4rem;
	text-align: center;width: 50%;
	font-size: 19px;
}
#technicals
{
	box-sizing: border-box;
	border: 3px solid black;
	margin: 2rem;padding: 1.4rem;
	text-align: center;width: 50%;
	font-size: 19px;
}
#skills
{
	border: 3px solid black;
	margin: 2rem;
	padding: 1.4rem;
	width: 50%;
	font-size: 19px;
}
#skills h2
{
	text-align: center;
}
#hobbies
{
	box-sizing: border-box;
	border: 3px solid black;
	margin: 2rem;
	padding: 1rem;
	width: 50%;
	font-size: 19px;
}
#hobbies h2
{
	text-align: center;
}
#projects
{
		box-sizing: border-box;
		border: 3px solid black;
		margin: 2rem;
		padding: 1.4rem;
		font-size: 19px;
		text-align: center;
}
#projects p
{
	font-size: 20px;
	font-style: italic;
}
#projects dt,dd
{
	text-align: left;
}
#div1
{
	display: inline-flex;
	width: 100%;
}
#div2
{
	display: inline-flex;
	width: 100%;
}
#services
{
	box-sizing: border-box;
	border: 3px solid black;
	margin: 2rem;
	padding: 1rem;
	font-size: 19px;
	text-align: center;
}
#services span
{
	font-size: 20px;
	font-style: italic;
}
#ser
{
	display: inline-flex; 
}
#ser p
{
	padding:1rem;
	border: 3px solid black;
	border-radius: 20%;
	margin: 1rem;
	font-size: 22px;
}
#ser p:hover
{
	background-color:#00008B;
	color: white;
	font-size: 30px;
	cursor: pointer;
}
.fb
{
	padding:4px;
	display: inline-block;
	size: 2rem;
	size: 70px;
	box-shadow: 2px black;
}
#social_media
{
	box-sizing: border-box;
	border: 3px solid black;
	margin: 2rem;
	padding: 1rem
}
#social_media h2
{
	text-align: center;
	font-size: 30px;
}
#social_media p
{
	text-align: center;
	font-size: 22px;
}
#h2_id
{
	font-style: italic;
	font-size: 35px;
	text-align: center;
	background-color: yellow; 
}
#button_id 
{
	font-size: 20px;
	padding: 5px;
	margin: 3px;
	border-radius: 10px;
	background-color: black;
	color:white;
	cursor: pointer;
}
#button_id:hover
{
	font-size: 30px;
	color:red;
}
@keyframes show
	{
		0% {opacity: 0.2;}
		25% {opacity: 0.4;}
		50% {opacity: 0.6;}
		75% {opacity: 0.8;}
		100% {opacity: 1;}
	}